<div id="navbar">
    <a href="#menu">
        <img src="../images/navbar/fi_menu.png">
    </a>
    <div class="menu-right">
        <div class="input">
            <input type="text" id="cari">
            <div class="btn-search">Search</div>
        </div>
        <div class="user">
            <img src="../images/navbar/circular-navbar.png">
            <p>Unis Badri</p>
            <a href="#user">
                <img src="../images/navbar/fi_chevron-down.png" class="small-img">
            </a>
        </div>
    </div>
</div>