<div class="blue-box">
    <div class="logo">
        <img src="../images/sidebar/rectangle-bluebox.png">
    </div>
    <a href="/">
        <div class="icon-menu">
            <img src="../images/sidebar/fi_home.png">
            <p>Dashboard</p>
        </div>
    </a>
    <a href="/">
        <div class="icon-menu">
            <img src="../images/sidebar/fi_truck.png">
            <p>Cars</p>
        </div>
    </a>
</div>
<div class="white-box">
    <div class="logo" id="wb-logo">
        <img src="../images/navbar/rectangle-navbar.png">
    </div>
    <p id="wb-p">CARS</p>
    <div class="menu">
        <p>List Cars</p>
    </div>
</div>