<p><b>Cars > </b> List Car</p>
<div class="edit-content">
    <h2>List Car</h2>
    <a href="/add-car">
        <div class="btn-add">
            <img src="../images/small/fi_plus.png" class="small-img">
            Add New Car
        </div>
    </a>
</div>
<div class="buttons">
    <div class="btn-size" id="btn-all">All</div>
    <div class="btn-size" id="btn-sm">Small</div>
    <div class="btn-size" id="btn-md">Medium</div>
    <div class="btn-size" id="btn-lg">Large</div>
</div>

<div class="cards" id="kartu">
    <script src="../javascripts/mobil.js">
    </script>
</div>