<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Management Dashboard</title>
    <link rel="icon" href="../public/images/sidebar/rectangle-bluebox.png">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <div id="sidebar">
            <div class="blue-box">
                <div class="logo">
                    <img src="../public/images/sidebar/rectangle-bluebox.png">
                </div>
                <a href="/">
                    <div class="icon-menu">
                        <img src="../public/images/sidebar/fi_home.png">
                        <p>Dashboard</p>
                    </div>
                </a>
                <a href="/">
                    <div class="icon-menu">
                        <img src="../public/images/sidebar/fi_truck.png">
                        <p>Cars</p>
                    </div>
                </a>
            </div>
            <div class="white-box">
                <div class="logo" id="wb-logo">
                    <img src="../public/images/navbar/rectangle-navbar.png">
                </div>
                <p id="wb-p">CARS</p>
                <div class="menu">
                    <p>List Cars</p>
                </div>
            </div>
        </div>
        <div id="page">
            <div id="navbar">
                <a href="#menu">
                    <img src="../public/images/navbar/fi_menu.png">
                </a>
                <div class="menu-right">
                    <div class="input">
                        <input type="text" id="cari">
                        <div class="btn-search">Search</div>
                    </div>
                    <div class="user">
                        <img src="../public/images/navbar/circular-navbar.png">
                        <p>Unis Badri</p>
                        <a href="#user">
                            <img src="../public/images/navbar/fi_chevron-down.png" class="small-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="../javascripts/mobil.js"></script>
    <script type="text/javascript" src="../javascripts/crud.js"></script>
    <script type="text/javascript" src="../public/javascripts/modal.js"></script>
</body>

</html>