html {
  min-height: 100% !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #F4F5F7;
  margin: 0 0 0 0;
  min-height: 100% !important;
}

.container {
  display: flex;
  min-height: 100% !important;
}

/* CSS for div id sidebar */
#sidebar {
  position: fixed;
  display: flex;
  width: max-content;
  min-height: 100% !important;
}

.blue-box {
  background-color: #0D28A6;
  min-height: 100%;
  text-align: center;
  color: white;
  width: max-content;
}

.blue-box a {
  color: white;
  text-decoration: none;
}

.logo {
  padding-top: 30px;
  padding-bottom: 30px;
}

.icon-menu {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon-menu:hover {
  background-color:#AEB7E1;
}

#choosen {
  background-color:#AEB7E1;
}

.white-box {
  background-color: white;
  width: 220px;
  min-height: 100%;
}

#wb-logo {
  width: 90%;
  height: 40px;
  background-color: white;
  padding-left: 20px;
  box-shadow: 5px 0px 10px lightgrey;
}

#wb-p {
  color: grey;
  padding-left: 20px;
  padding-right: 10px;
}

.menu {
  background-color: #AEB7E1;
  width: 85%;
  font-weight: bold;
  cursor: pointer;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 20px;
  padding-right: 10px;
}

.menu:hover {
  width: 85%;
  background-color: #AEB7E1;
  font-weight: bold;
  cursor: pointer;
}

/* CSS for div id navbar */
#navbar {
  position: fixed;
  margin-left: 310px;
  background-color: white;
  width: 82%;
  height: 70px;
  padding: 15px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 9px 0px 10px lightgrey;
}

#navbar img {
  width: 30px;
  height: 30px;
}


.menu-right {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-right: 25px;
}

.btn-search {
  background-color: white;
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: -1px 0 #0D28A6, 0 1px #0D28A6, 1px 0 #0D28A6, 0 -1px #0D28A6;
  color: #0D28A6;
  padding: 10px;
  text-align: center;
}

.input {
  display: flex;
}

.user {
  display: flex;
  position: right;
  align-items: center;
  gap: 5px;
}

.small-img {
  width: auto !important;
  height: 13px !important;
}

/* CSS for div id page */
#page {
  width: 100%;
  min-height: 100% !important;
}

.content {
  padding: 30px;
  margin-left: 325px;
  margin-top: 100px;
  padding-top: 10px;
}

.edit-content {
  display: flex;
  justify-content: space-between;
}

.edit-content h2 {
  margin-top: 0px !important;
}

.cards {
  padding-top: 30px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px lightgrey;
}

#big-card {
  width: auto;
}

.card-btn {
  display: flex;
  place-content: center;
  gap: 10px;
  padding-top: 20px;
}

.card-btn a {
  text-decoration: none;
}

.btn-delete {
  background-color: white;
  width: 125px !important;
  height: fit-content;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: -1px 0 #FA2C5A, 0 1px #FA2C5A, 1px 0 #FA2C5A, 0 -1px #FA2C5A;
  color: #FA2C5A;
  padding: 10px;
  text-align: center;
}

.btn-edit {
  background-color: #5CB85F;
  width: 125px !important;
  height: fit-content;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: -1px 0 #5CB85F, 0 1px #5CB85F, 1px 0 #5CB85F, 0 -1px #5CB85F;
  color: white;
  padding: 10px;
  text-align: center;
  align-items: center;
}

.btn-add {
  background-color: #0D28A6;
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  padding: 15px;
  text-align: center;
  padding: 8px;
}

.btn-add a {
  text-decoration: none;
  text-decoration-style: none;
  color: white;
}

.buttons {
  display: flex;
  gap: 15px;
  font-size: 15px;
}

.btn-size {
  background-color: white;
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: -1px 0 #AEB7E1, 0 1px #AEB7E1, 1px 0 #AEB7E1, 0 -1px #AEB7E1;
  color: #AEB7E1;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-size:hover {
  background-color: #AEB7E1;
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: -1px 0 #0D28A6, 0 1px #0D28A6, 1px 0 #0D28A6, 0 -1px #0D28A6;
  color: #0D28A6;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Form */
.form-group {
  padding: 10px;
}

.form-group input {
  width: 300px;
  height: 25px;
}

.form-group select {
  width: 310px;
  height: 30px;
}

.card-btn2 {
  display: flex;
  place-content: left;
  gap: 10px;
  padding-top: 20px;
}

.card-btn2 a {
  text-decoration: none;
}

.btn-cancel {
  background-color: white;
  width: 50px;
  height: 25px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: -1px 0 #0D28A6, 0 1px #0D28A6, 1px 0 #0D28A6, 0 -1px #0D28A6;
  color: #0D28A6;
  padding: 10px;
  text-align: center;
}

.btn-cancel:hover {
  background-color: #0D28A6;
  color: white;
}

.btn-save {
  background-color: white;
  width: 70px;
  height: 45px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: -1px 0 #0D28A6, 0 1px #0D28A6, 1px 0 #0D28A6, 0 -1px #0D28A6;
  color: #0D28A6;
  padding: 10px;
  text-align: center;
}

.btn-save:hover {
  background-color: #0D28A6;
  color: white;
}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}